[init]
	defaultBranch = main
[user]
        name = SerAbinU1
        email = abinyt1234@gmail.com
[pull]
        rebase = false
[core]
        editor = nvim
        autocrlf = input
[push]
        autoSetupRemote = true
[rerere]
	enabled = true
[diff]
	algorithm = histogram
[merge]
	conflictstyle = zdiff3
